body {
  background: linear-gradient(#EFF6FE, #ECEDFF);
}

button{
  cursor: pointer;
}

.App{
  position: relative;
  width: 100vw;
  height: 100vh;
}

#wrapper{
  width: 250px;
  /* width: auto; */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  padding: 2%;
  /* border: 1px solid; */
}

.App-header{
  border-bottom: 2px solid #CED7E6;
  margin: 0 0 10px 0;
}

.text-heavy{
  color: #8E97BC;
  margin: 0;
  font-weight: 400;
  font-size: 1.5rem;
}

.text-middle{
  color: #ABB1CB;
}

.text-light{
  color: #BFCADB;
}

.flex{
  display: flex;
}

.close{
  border: none;
  background: none;
  color: #CCD2EA;
  margin: 2px 0 0 auto;
}

.newTodo{
  border: none;
  margin-right: 2%;
  width: 80%;
}

.addBtn{
  width: 20%;
  border: none;
  background-color: #778FD1;
  font-size: larger;
  transition: all;
}

.disable{
  background-color: #b6b6b6;
  cursor: none;
}

.radius{
  border-radius: 4px;
}

.text-white{
  color: white;
}

.inputWrapper{
  height: 25px;
  margin: 15% 0 5% 0;
}

#list{
  list-style: none;
  padding: 2% 2% 2% 0;
  margin: 0 0 2% 0;
  border-bottom: 2px solid #CED7E6;
  scroll-behavior: smooth;
}

#list::-webkit-scrollbar-thumb{
  background: #CDD3F5;
  border-radius: 25px;
}

#list::-webkit-scrollbar{
  background: none;
  width: 5px;
}

li{
  margin: 3% 0;
  background-color: white;
  overflow: hidden;
}

li > span{
  background-color: #798EC7;
  width: 5px;
}

li > div{
  /* padding-top: 3px; */
  color: #9FA7C1;
  padding-top: 6px;
}

.checkTodo{
  margin: 3% 5%;
  width: 17px;
  height: 17px;
  accent-color: #798DCF;
}

.done{
  text-decoration: line-through;
}

.bar{
  margin: 7px 0 0 5px;
  background-color: white;
  border-radius: 25px;
  width: 100%;
  height: 10px;
  overflow: hidden;
}

.progress{
  border-radius: 25px;
  background-color: #98AEF6;
  height: 100%;
  transition: all;
}

.toggle{
  background-color: white;
  border-radius: 50px;
  width: 10%;
  margin-left: 2%;
  padding: 1%;
}

.switch{
  background-color: #CDD2F6;
  border-radius: 50%;
  width: 50%;
  height: 100%;
  cursor: pointer;
}

.justifyEnd{
  justify-content: end;
}