body {
  background: linear-gradient(#EFF6FE, #ECEDFF);
}

.App{
  position: relative;
  width: 100vw;
  height: 100vh;
}

#wrapper{
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  padding: 2%;
  border: 1px solid;
}

.App-header{
  border-bottom: 2px solid #CED7E6;
}

.text-heavy{
  color: #8E97BC;
  margin: 10px 0;
}

.text-light{
  color: #BFCADB;
}

.flex{
  display: flex;
}

.close{
  border: none;
  background: none;
  color: #CCD2EA;
  margin-left: auto;
}

.newTodo{
  border: none;
  margin-right: 2%;
  width: 80%;
}

.addBtn{
  width: 20%;
  border: none;
  background-color: #778FD1;
  font-size: larger;
}

.radius{
  border-radius: 4px;
}

.text-white{
  color: white;
}

.inputWrapper{
  height: 25px;
}

#list{
  list-style: none;
}