body {
  background: linear-gradient(#EFF6FE, #ECEDFF);
}

button{
  cursor: pointer;
}

.App{
  position: relative;
  width: 100vw;
  height: 100vh;
}

#wrapper{
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  padding: 2%;
  border: 1px solid;
}

.App-header{
  border-bottom: 2px solid #CED7E6;
}

.text-heavy{
  color: #8E97BC;
  margin: 10px 0;
}

.text-middle{
  color: #ABB1CB;
}

.text-light{
  color: #BFCADB;
}

.flex{
  display: flex;
}

.close{
  border: none;
  background: none;
  color: #CCD2EA;
  margin: 2px 0 0 auto;
}

.newTodo{
  border: none;
  margin-right: 2%;
  width: 80%;
}

.addBtn{
  width: 20%;
  border: none;
  background-color: #778FD1;
  font-size: larger;
}

.radius{
  border-radius: 4px;
}

.text-white{
  color: white;
}

.inputWrapper{
  height: 25px;
}

#list{
  list-style: none;
  padding: 0;
}

li{
  margin: 3% 0;
  background-color: white;
  overflow: hidden;
}

li > span{
  background-color: #798EC7;
  width: 5px;
}

li > div{
  /* padding-top: 3px; */
  color: #9FA7C1;
}

.checkTodo{
  margin: 3% 5%;
  width: 17px;
  height: 17px;
}

.done{
  text-decoration: line-through;
}

.bar{
  margin: 7px 0 0 5px;
  background-color: white;
  border-radius: 25px;
  width: 100%;
  height: 10px;
  overflow: hidden;
}

.progress{
  border-radius: 25px;
  background-color: #98AEF6;
  height: 100%;
}